@model moment3EF.Models.Lending

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lending</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Album.AlbumName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DateOfLending)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DateOfLending)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LendingId">Ändra</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
