@model IEnumerable<moment3EF.Models.Lending>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Utlånade album</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Album)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfLending)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Album.AlbumName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfLending)
                    </td>
                    <td>
                        <a class="table_link_edit" asp-action="Edit" asp-route-id="@item.LendingId">Edit</a> 
                        <a class="table_link_details" asp-action="Details" asp-route-id="@item.LendingId">Details</a>
                        <a class="table_link_delete" asp-action="Delete" asp-route-id="@item.LendingId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a class="add_link" asp-action="Create">Create New</a>
    </p>
</div>