@model moment3EF.Models.Album

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3 col-lg-6">
            @Html.DisplayNameFor(model => model.AlbumName)
        </dt>
        <dd class = "col-sm-9 col-lg-6">
            @Html.DisplayFor(model => model.AlbumName)
        </dd>
        <dt class = "col-sm-3 col-lg-6">
            @Html.DisplayNameFor(model => model.YearOfRelease)
        </dt>
        <dd class = "col-sm-9 col-lg-6">
            @Html.DisplayFor(model => model.YearOfRelease)
        </dd>
        <dt class = "ccol-sm-3 col-lg-6">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-9 col-lg-6">
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlbumId">Ändra</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
