@model IEnumerable<moment3EF.Models.Artist>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Lista över artister</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a class="table_link_edit" asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a>
                        <a class="table_link_details" asp-action="Details" asp-route-id="@item.ArtistId">Details</a>
                        <a class="table_link_delete" asp-action="Delete" asp-route-id="@item.ArtistId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        <a asp-action="Create" class="add_link">Lägg till ny artist</a>
    </p>
</div>
